

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border:2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.items-center{
    align-items:center;
}
.row{
    margin: 8px 0;
}
.row input{
    width:221px;
    font-size: 20px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
}